.main {
    position: relative;
    height: 100vh;

    // .vital {
    //     color: red;
    //     font-weight: bold;
    // }

    /////////// QUEST /////////////////////////
    .important {
        color: red;
        font-weight: bold;
    }
}