<main id="component-body">
  <div class="user-card">
    <img [src]="user1.photo" [alt]="user1.name + ' ' + user1.firstName" />
    <header>
      <h3>Nom: {{ user1.name }}</h3>
      <h3>Prénom: {{ user1.firstName }}</h3>
    </header>
    <main class="card-body">
      <div class="quoteArea">
        <p>{{ user1.quote }}</p>
      </div>
      @if (user1.displayAge) {
      <p>{{ user1.age }} ans</p>
      }
    </main>
    <footer>
      <input id="name" [(ngModel)]="user1.quote" placeholder="votre citation" />
      <button (click)="user1.showUserAge()">Afficher/masquer mon âge</button>
    </footer>
  </div>
</main>
